.main-404-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 100px;
}
.main-404-container .scarecrow{
    max-width: 540px;
    height: 50vh;
    margin-left: 18px;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
}
.main-title-container h1{
    font-size: 5.6rem;
    font-weight: bold;
    line-height: 9.5rem;
    letter-spacing: -0.035em;

}
.main-title-container p{
    font-size: 2.3rem;
    font-weight: 400;
    line-height: 3.6rem;
    letter-spacing: -0.035em;

}
footer {
    margin-top: 120px;
}