:root{
        --white: #FFFFFF;
        --black: #000000;
        --text-black: #333333;
        --text-gray: #4F4F4F;
        --text-footer: #BDBDBD;

    }
body{
    font-family: 'Space mono', monospace;
    margin: 20px 1px 24px 24px  ;
}
.main-container{
    width: 100%;
}
.header-text{
    font-size: 24px; 
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-align: left;

       
}

img{
    width: 100%;
    
}
h1{
    font-size: 41px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.035em;
}
.site-text{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.035em;
    text-align: left;

}
.primary-button{
    width: 216px;
    height: 68px;
    margin-top: 66px;
    font-size: 14px;
    font-weight: 700px;
    color: var(--white);
    background-color: var(--text-black);
    line-height: 20.73px;
    
}
.footer-text{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color:var(--text-footer);
    text-align: center;
    margin: 114px 42px 24px 46px ;
}
.footer-text a {
    font-weight: 700;
    color: var(--text-footer);
}

@media (min-width: 820px) {
    .site-container{
        display: flex;
        margin-top: 200px;
 
    }
    .content-container{

    }
   .site-message{
       width: 586px;
       height: 190px;
   }
   h1{
       font-size: 4rem;
    }
    .site-text{
        font-size: 1.5rem;
    }
   img{
       max-width: 539.22px;
   }
}