:root{
        --white: #FFFFFF;
        --black: #000000;
        --text-black: #333333;
        --text-gray: #4F4F4F;
        --text-footer: #BDBDBD;

    }

    *{
    box-sizing: border-box;
    margin: 0; 
     padding: 0;
}
    
html{
        font-size: 62.5%;
        font-family: 'Space Mono', monospace;
    }
.header-title-container {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 64px;
    margin-left: 24px;
    font-family: 'Inconsolata', sans-serif;
}
.header-title-container p{
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: -0.08em;
}
main{
    width: 100%;
    height: auto;
}
.main-404-container{
    width: 100%;
    min-width: 320px;
    height: auto;
    text-align: start;
}
.main-404-container .scarecrow{
    width: 100%;
    min-width: 288px;
    height: 288px;
    background-image: url('./Scarecrow.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}